/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
  background-color:lightcoral ;
  height: 200vh;
}

/* header */
.main-menu{
  position: fixed;
  right: 0;
  margin: 40px;
}

.main-menu li{
  display: inline-block;
  background-color: #FFFFFF;
  margin-right:30px ;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
}

.main-menu li a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  width: 100%;
}